.reveal table {
  border: 1px solid #747474;
  min-width: 50%;
}

.reveal table th,
.reveal table td {
  text-align: center !important;
}

.reveal img, .reveal video, .reveal iframe {
  max-width: 80%;
  max-height: 80%;
}